body {
    font-family: Arial, sans-serif;
    font-family: "Creepster", system-ui;/* se añadio letra de  google fonts*/
    margin: 0;
    padding: 0;
}

header, nav, section, footer {
    margin: 20px;
}

h1 {
    color: #333;
    text-align: center; /* centre el primer titulo */
}

h2 {
    color: #333; 
    font-size: 45px;
}

h3 {
    color: #ffffff;
    font-family: "Permanent Marker", cursive;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

/* Estilos específicos de la página */

#destacados {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 20px;
}

footer {
    margin-top: 50px;
    text-align: center;
    color: #888;
}