/*------------------------------*/
#destacados {
    background-color: #f1a44575;
    display: flex;
    justify-content: space-around;
    /* Distribuye los elementos de manera uniforme */
    flex-wrap: wrap;
    /*Permite que los elementos se envuelvan en filas adicionales si no hay suficiente espacio */
}

/*------------------------------*/

#masVendidos {
    background-color: #f1a44575;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

/*------------------------------*/

#superDeportivas {
    background-color: #f1a44575;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*------------------------------*/

#enduro {
    background-color: #f1a44575;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*------------------------------*/

#scooters {
    background-color: #f1a44575;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*------------------------------*/

#cruiser {
    background-color: #f1a44575;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*------------------------------*/

#contacto {
    background-color: #f0cfa775;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    text-decoration-color: #000000;
}

/*------------------------------*/

/* Estilos para el encabezado */

#inicio {
    display: flex;
    align-items: center;
    /* Alinea los elementos verticalmente al centro */
    justify-content: space-between;
    /* Distribuye los elementos horizontalmente */
    padding: 10px;
}

.logo-izquierdo,
.logo-derecho {
    height: 80px;
    /* Ajusta la altura según tus necesidades */
    width: auto;
    border-radius: 50%;
}